src/main/resources/xsd/medicalLookup-data.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). --><xs:schema xmlns:ns1="http://gov.va.vba.benefits.vdc/services" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://gov.va.vba.benefits.vdc/data">

<xs:import namespace="http://gov.va.vba.benefits.vdc/services" schemaLocation="./medicalLookup-services.xsd" />

<xs:element name="MedicalTreatmentFacility" type="ns1:medicalTreatmentFacilityReturnVO" />

<xs:element name="MedicalTreatmentFacilityListReturn" type="ns1:medicalTreatmentFacilityListReturnVO" />

<xs:element name="MedicalTreatmentFacilityListVO" type="ns1:medicalTreatmentFacilityListReturnVO" />

<xs:element name="MedicalTreatmentFacilityVO" type="ns1:medicalTreatmentFacilityReturnVO" />


</xs:schema>